body {
  background-image: url("/images/renoosteranimals_bg.png");
  background-size: cover;
  background-color: #3bb5e0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.container {
  align-items: center;
}

.navbar {
  background-color: black;
  height: 10 0px;
}

.navbar-brand {
  color: white;
}

.brand-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.renooster-title {
  font-family: "Cherry Cream Soda", cursive;
  font-size: 130px;
  color: #d52b14;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 0px;
}

.tagline {
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

.page-footer {
  background-color: black;
  height: 70px;
}

.btn {
  background-color: red;
  margin-right: 10px;
}

.card {
  margin: 50px 0;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #000;
}

.form-panel {
  background-color: white;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #000;
  padding: 15px 30px 0px 30px;
}

.form-title {
  font-weight: 600;
  margin-bottom: 30px;
}

.modal-body {
  text-align: center;
  display: inline-block;
}

.modal-title {
  color: red;
  font-weight: 600;
}

.expireWarning {
  color: #d52b14;
}

#renooster-logo {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#router-content {
  flex: 1 0 auto;
}