body {
  background-image: url("/images/renoosteranimals_bg.png");
  background-size: cover;
  background-color: #3bb5e0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.container {
  align-items: center;
}

.navbar {
  background-color: black;
  height: 10 0px;
}

.brand-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.renooster-title {
  font-family: "Cherry Cream Soda", cursive;
  font-size: 130px;
  color: #d52b14;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 0px;
}

.tagline {
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

.page-footer {
  background-color: black;
  height: 65px;
  text-align: center;
  padding-top: 15px;
}

.btn {
  border-radius: 10px;
  background-color: #d52b14;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #339933;
}

.btn:focus {
  background-color: #d52b14;
}

.card {
  border-radius: 15px;
  background-color: white;
  width: 250px;
  margin: 25px 5px 0px 5px;
  border: 1px solid #000;
  text-align: center;
}

.card-image {
  width: 175px;
  height: 175px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-weight: 600 !important;
}

.card-action {
  border-radius: 0px 0px 15px 15px !important;
}

.card-panel {
  border-radius: 15px;
  background-color: white;
  border: 1px solid #000;
  padding: 15px 30px 0px 30px;
  margin-top: 25px;
}

.expire-subs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-panel {
  border-radius: 15px;
  background-color: white;
  border: 1px solid #000;
  padding: 15px 30px 0px 30px;
}

.form-title {
  font-weight: 600;
  margin-bottom: 30px;
}

.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.error-page {
  text-align: center;
  font-size: 55px;
  margin-top: 100px;
}

#btn-edit {
  background-color: #3c4bdd;
}

#btn-edit:hover {
  background-color: #339933;
}

#field-name {
  font-weight: bold;
}

#expire-warning {
  color: #d52b14;
}

#renooster-logo {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

#navbar-logo {
  width: 60px;
  height: 60px;
  margin: 2px 10px 0px 0px;
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#router-content {
  flex: 1 0 auto;
}
